.movie-poster {
    height: 400px;
    width: 100%;
    /* zoom  in */
    object-fit: cover;
    cursor: pointer;
  }
  
  .movie-name {
    font-size: 24px;
    margin: 0;
  }
  
  .movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .movie-container {
    background-color: rgb(233, 231, 227);
    width: 340px;
  }
  